header {
	display: flex;
	align-items: center;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.address {
  margin-top: 10px;
}